<!DOCTYPE html>
<ion-view view-title="Settings">
    <ion-content ng-app="starter" ng-controller="SettingCtrl" style="background: url(img/bg4.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="margin: 0 auto; height: 50px;"></div>
        <ion-list>
        <!--    
            <span id="Beta">Account Settings</span>
            <hr>
            <div id="link">
                <a href="https://www.google.com.sg/">Change Password</a>
            </div>

        --> 
            <div class="spacer" style="margin: 0 auto; height: 20px;"></div>       
            <div class="button-bar">
            	<a class="button button-assertive" ng-click="clearAll()">CLEAR ALL DATA</a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
