<!DOCTYPE html>
<ion-view view-title="Itinerary test" ng-init="fetchItinerary()">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="addItinerary()">
            Add Itinerary
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" style="background: url(img/bg1.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list>
            <ion-item ng-repeat="itinerary in itineraries" class="item-icon-right">
                <h2 ng-click="view(itinerary)">{{itinerary.name}}, {{itinerary.from.getDate()+"/"+(itinerary.from.getMonth()+1)+"/"+itinerary.from.getFullYear()}} - {{itinerary.to.getDate()+"/"+(itinerary.to.getMonth()+1)+"/"+itinerary.to.getFullYear()}}</h2>
                <i class="icon ion-chevron-left icon-accessory"></i>
                <ion-option-button class="button-energized" ng-click="edit(itinerary)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="remove(itinerary)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <!-- Add Modal -->
    <script id="itineraryAdd.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-light">
                <h1 id="alpha" class="title">Add Itinerary</h1>
            </ion-header-bar>
            <ion-content class="padding" style="background: url(img/bg1.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Name:</span>
                        <input ng-model="added.name" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Country:</span>
                        <input ng-model="added.country" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">From:</span>
                        <input ng-model="added.from" type="date">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">To:</span>
                        <input ng-model="added.to" type="date">
                    </label>
                    <div class="button-bar">
                        <a class="button button-positive" ng-click="addItineraryconfirm(added)">Add</a>
                        <a class="button button-dark" ng-click="itineraryAdd.hide()">Cancel</a>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- Edit Modal -->
    <script id="itineraryEdit.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-energized">
                <h1 id="alpha" class="title">Edit Itinerary</h1>
            </ion-header-bar>
            <ion-content class="padding" style="background: url(img/bg1.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Name:</span>
                        <input ng-model="editted.name" type="text" placeholder="{{current.name}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Country:</span>
                        <input ng-model="editted.country" type="text" placeholder="{{current.country}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">From:</span>
                        <input ng-model="editted.from" type="date" placeholder="{{current.from}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">To:</span>
                        <input ng-model="editted.to" type="date">
                    </label>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="editItinerary(editted)">Edit</a>
                        <a class="button button-dark" ng-click="itineraryEdit.hide()">Cancel</a>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- View Modal -->
    <script id="itineraryView.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-stable">
                <button class="button button-primary button-positive" ng-click="itineraryView.hide()">Back</button>
                <h1 id="alpha" class="title">{{current.name}}</h1>
                <button class="button button-primary button-positive" ng-click="addActivity()">Add</button>
            </ion-header-bar>
            <ion-content style="background: url(img/bg1.png) no-repeat center;background-size:cover;" class="has-header">
                <ion-list>
                    <ion-item ng-repeat="item in current.items | orderBy:'date'" type="item-text-wrap" class="item-button-right" id="budgetList">
                        <h2 id="budgetItemText">{{item.activity}}</h2>
                        <p id="budgetDateText">{{item.date.getDate()+"/"+(item.date.getMonth()+1)+"/"+item.date.getFullYear()}}, {{item.date.getHours()+":"+('0'+item.date.getMinutes()).slice(-2)}}</p>
                        <div class="buttons" align-right id="ItineraryItemRemarksText">{{item.remarks}}
                        </div>
                        <ion-option-button class="button-energized" ng-click="edititem(item)">
                            Edit
                        </ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="removeitem(item)">
                            Delete
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </ion-content>
    </script>
    <!-- Add Item Modal -->
    <script id="activityAdd.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-royal">
                <h1 id="alpha" class="title">Add Activity</h1>
            </ion-header-bar>
            <ion-content class="padding" style="background: url(img/bg1.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Activity:</span>
                        <input ng-model="addeditem.activity" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date:</span>
                        <input ng-model="addeditem.date" type="date">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Time:</span>
                        <input ng-model="addeditem.time" type="time">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Remarks:</span>
                        <input ng-model="addeditem.remarks" type="text">
                    </label>
                    <ion-toggle toggle-class="toggle-positive" ng-model="notisetting.checked" ng-change="notify()">Notification</ion-toggle>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="addActivityconfirm(addeditem)">Add</a>
                        <a class="button button-dark" ng-click="activityAdd.hide()">Cancel</a>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- Edit Item Modal -->
    <script id="activityEdit.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-royal">
                <h1 id="alpha" class="title">Edit Activity</h1>
            </ion-header-bar>
            <ion-content style="background: url(img/bg1.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Activity:</span>
                        <input ng-model="editteditem.activity" type="text" placeholder="{{currentitem.activity}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date:</span>
                        <input ng-model="editteditem.date" type="date" placeholder="{{currentitem.date}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Time:</span>
                        <input ng-model="editteditem.time" type="time" placeholder="{{currentitem.time}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Remarks:</span>
                        <input ng-model="editteditem.remarks" type="text" placeholder="{{currentitem.remarks}}">
                    </label>
                    <ion-toggle toggle-class="toggle-positive" ng-model="currentitem.notification.checked" ng-change="editnotify(currentitem.notification.checked)">Notification</ion-toggle>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="editActivityconfirm(editteditem, currentitem.notification.checked);">Edit</a>
                        <a class="button button-dark" ng-click="activityEdit.hide()">Cancel</a>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- Add Notification Modal -->
    <script id="notification.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-royal">
                <h1 id="alpha" class="title">Add Notification</h1>
            </ion-header-bar>
            <ion-content class="padding" style="background: url(img/bg1.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Message:</span>
                        <input ng-model="noti.message" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date & Time:</span>
                        <input type="datetime-local" ng-model="noti.date">
                    </label>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="notificationconfirm(noti)">Add</a>
                        <a class="button button-dark" ng-click="notisetting.checked = false; notification.hide()">Cancel</a>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- Edit Notification Modal -->
    <script id="editnotification.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-royal">
                <h1 id="alpha" class="title">Edit Notification</h1>
            </ion-header-bar>
            <ion-content class="padding" style="background: url(img/bg1.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Message:</span>
                        <input ng-model="noti.message" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date:</span>
                        <input type="datetime-local" ng-model="noti.date">
                    </label>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="editnotificationconfirm(noti)">Add</a>
                        <a class="button button-dark" ng-click="currentitem.notification.checked = false; editnotification.hide()">Cancel</a>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
