<!DOCTYPE html>
<ion-view view-title="Budget" ng-init="fetchBudget()">
    <ion-nav-buttons side="primary">
        <button class="button icon ion-android-add" ng-click="addBudget()">
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" style="background: url(img/bg2.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list>
            <ion-item ng-repeat="budget in budgets" class="item-icon-right">
                <h2 ng-click="view(budget)">{{budget.name}}, ${{budget.amount}}</h2>
                <i class="icon ion-chevron-left icon-accessory"></i>
                <ion-option-button class="button-energized ion-android-create" ng-click="edit(budget)">
                </ion-option-button>
                <ion-option-button class="button-assertive ion-android-delete" ng-click="remove(budget)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <!-- Add modal-->
    <script id="budgetAdd.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 id="alpha" class="title">Add Budget</h1>
            </ion-header-bar>
            <ion-content class="padding" style="background: url(img/bg2.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="spacer" style="width: 300px; height: 80px;"></div>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Name:</span>
                        <input ng-model="added.name" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Initial Amount:</span>
                        <input ng-model="added.amount" type="number">
                    </label>
                    <div class="spacer" style="width: 300px; height: 200px;"></div>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="addBudgetconfirm(added)">Add</a>
                        <a class="button button-dark" ng-click="budgetAdd.hide()">Cancel</a>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- Edit Modal -->
    <script id="budgetEdit.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-energized">
                <h1 id="alpha" class="title">Edit Budget</h1>
            </ion-header-bar>
            <ion-content padding="true" style="background: url(img/bg2.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Name:</span>
                        <input ng-model="editted.name" type="text" placeholder="{{current.name}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Initial Amount:</span>
                        <input ng-model="editted.amount" type="number" placeholder="{{current.amount}}">
                    </label>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="editBudget(editted)">Edit</a>
                        <a class="button button-dark" ng-click="budgetEdit.hide()">Cancel</a>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- View Modal -->
    <script id="budgetView.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-light">
                <button class="button button-primary button-positive" ng-click="budgetView.hide()">Back</button>
                <h1 id="alpha" class="title">{{current.name}}</h1>
                <button class="button button-primary button-positive" ng-click="addBudgetItem()">Add</button>
            </ion-header-bar>
            <ion-content padding="true" style="background: url(img/bg2.png) no-repeat center;background-size:cover;" class="has-footer">
                <div class="budgetSort">
                    <p>
                        Sort by:
                        <button class="button button-right button-calm" ng-click="order = 'price'">Price</button>
                        <button class="button button-right button-positive" ng-click="order = 'date'">Date</button>
                        <button class="button button-right button-assertive" ng-click="order = 'category'">Category</button>
                    </p>
                </div>
                <div id="chartID">Chart:
                    <button id="chartButton" class="button button-stable icon ion-ios-pie-outline" ng-click="chart(current)" style="background-color: white;"> Category</button>
                </div>
                <ion-list>
                    <ion-item ng-repeat="item in current.items | orderBy: order" type="item-text-wrap" class="item-button-right" id="budgetList">
                        <a id="budgetCategory" ng-if="item.category === 'Food'" class="icon ion-pizza"></a>
                        <a id="budgetCategory" ng-if="item.category === 'Transport'" class="icon ion-plane"></a>
                        <a id="budgetCategory" ng-if="item.category === 'Accomodation'" class="icon ion-android-home"></a>
                        <a id="budgetCategory" ng-if="item.category === 'Shopping'" class="icon ion-bag"></a>
                        <a id="budgetCategory" ng-if="item.category === 'Others'" class="icon ion-more"></a>
                        <div id="budgetItemText">{{item.itemName}}</div>
                        <p id="budgetDateText">{{item.date.getDate()+"/"+(item.date.getMonth()+1)+"/"+item.date.getFullYear()}}, {{item.date.getHours()+":"+('0'+item.date.getMinutes()).slice(-2)}}</p>
                        <div class="buttons" id="budgetItemPriceText">${{item.price}}
                        </div>
                        <ion-option-button class="button-energized ion-android-create" ng-click="editItem(item)">
                        </ion-option-button>
                        <ion-option-button class="button-assertive ion-android-delete" ng-click="removeItem(item)">
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </ion-content>
            <ion-footer-bar align-title="left" padding="true" style="background: transparent;">
                <div class="row">
                    <div id="footerBar1">Total Spent: ${{totalAmount}}</div>
                    <div class="spacer" style="margin: 0 auto; width: 80px;"></div>
                    <div id="footerBar2">Amount Left: ${{current.amount - totalAmount}}</div>
                </div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
    <!--doughnut chart modal-->
    <script id="budgetChart.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header">
                <button class="button button-primary button-positive" ng-click="budgetChart.hide()">Back</button>
                <h1 id="chartTitle" class="title">Budget Compositions:</h1>
            </ion-header-bar>
            <ion-content style="background: url(img/bg2.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="spacer" style="width: 300px; height: 50px;"></div>
                <h4>By Category:</h4>
                <div class="card">
                    <div class="item item-text-wrap" id="doughnut1">
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="arr" chart-labels="countLabels" chart-colours="colours" legend="true" series="series" chart-options="{showTooltips: false}">
                        </canvas>
                    </div>
                </div>
                <div>
                    <h4 style="padding-left: 10px;">Summary</h4>
                    <div style="margin-left: 10px">
                        <div style="font-size: 18px;">
                            <div class="col">
                                <div class="row" ng-repeat="item in countLabels">{{item}}:</div>
                            </div>
                            <div class="col" id="summaryCol2">
                                <div class="row" ng-repeat="item2 in counts">${{item2.num}}</div>
                            </div>
                            <div class="row" id="summaryCol3" ng-repeat="item3 in counts">{{(totalAmount !== 0) ? (item3.num / totalAmount * 100).toFixed(2): 0}} %</div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- Add Item Modal -->
    <script id="budgetItemAdd.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-light">
                <h1 id="alpha" class="title">Add item</h1>
            </ion-header-bar>
            <ion-content class="padding" style="background: url(img/bg2.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Item Name:</span>
                        <input ng-model="addeditem.itemName" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date:</span>
                        <input ng-model="addeditem.date" type="date">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Time:</span>
                        <input ng-model="addeditem.time" type="time">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Price:</span>
                        <input ng-model="addeditem.price" type="number">
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Categories:</span>
                        <select class="button" ng-model="addeditem.category">
                            <option value="Food">Food</option>
                            <option value="Accomodation">Accomodation</option>
                            <option value="Transport">Transport</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Others">Others</option>
                        </select>
                    </label>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="addBudgetItemconfirm(addeditem)">Add</a>
                        <a class="button button-dark" ng-click="budgetItemAdd.hide()">Cancel</a>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- Edit Item Modal -->
    <script id="budgetItemEdit.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-royal">
                <h1 id="alpha" class="title">Edit Item</h1>
            </ion-header-bar>
            <ion-content style="background: url(img/bg2.png) no-repeat center;background-size:cover;" class="has-header">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Item Name:</span>
                        <input ng-model="editteditem.itemName" type="text" placeholder="{{currentItem.itemName}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date:</span>
                        <input ng-model="editteditem.date" type="date" placeholder="{{currentItem.date}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Time:</span>
                        <input ng-model="editteditem.time" type="time" placeholder="{{currentItem.time}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Price:</span>
                        <input ng-model="editteditem.price" type="text" placeholder="{{currentItem.price}}">
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Categories:</span>
                        <select class="button" ng-model="currentItem.category">
                            <option selected="true" value="Food">Food</option>
                            <option value="Accomodation">Accomodation</option>
                            <option value="Transport">Transport</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Others">Others</option>
                        </select>
                    </label>
                    <div class="button-bar">
                        <a class="button button-energized" ng-click="editteditem.category = currentItem.category; editBudgetItemToChart(editteditem); editBudgetItemconfirm(editteditem)">Edit</a>
                        <a class="button button-dark" ng-click="budgetItemEdit.hide()">Cancel</a>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
