/* Empty. Add your own CSS if you like */

#alpha {
    text-align: center;
}

.number {
    vertical-align: -20px;
    font-size: 30px;
}

#bigbutton {
    width: 50%;
    min-width: 50%;
}

#Beta {
    font-size: 25px;
    vertical-align: -15px;
    padding-left: 15px;
}

#link {
	font-size: 15px;
	height: 40px;
	padding-left: 15px;
}

.alignleft {
    float: right;
    

}

#itineraryRow {
    margin-right: 40px;
}