/* Empty. Add your own CSS if you like */
.budgetSort{
    padding:10px 10px;
    background:rgba(255, 255, 255, 0.25);
    border:2px solid rgba(255, 255, 255, 0.35);
    text-decoration:none;
    border-radius:5px;
    box-shadow: 0px 1px 1px RGBA(0, 0, 0, 0.6);
    margin:0px 2px;
    margin-bottom:10px;
    height: 62px;
}

.budgetSort p{
    font-size:20px;
    color: black;
    text-align: left;
}
.budgetSort p button{
    font-size: 15px;
    color: black;
    background: #54C571;
    padding:2px 35px;
    text-decoration:none;
   
    border-radius:5px;
    margin-left:15px;

}

/*.item .item-content {
  background-color: transparent !important;
}
*/
#budgetList {
    background:rgba(255, 255, 255, 0) !important;
    border:1px solid rgba(255, 255, 255, 0.35);
    border-radius: 4px; 
    box-shadow: 0px 1px 1px RGBA(0, 0, 0, 0.6);
    height: 60px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 8px;
    margin-left: 8px;
}

.item-button-right, a.item.item-button-right{
  padding-right: 0px !important;
}


#budgetItemText {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #2C3539;
    font-size: 18px;
    font-weight: 500; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    width: 8em;
    margin-bottom: 1px;
    padding-bottom: 1px;
    position: relative;
    bottom: 4.5px;
}

#budgetDateText {
    font-size: 13px;  
    color: black;
    font-weight: 400;

      
}
#budgetItemPriceText {
    color: #2C3539;
    font-weight: 500; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    width: 8em;
    top:12px !important;
    text-align: right;
    padding-left: 80px;
}
#ItineraryItemRemarksText{
    color: #2C3539;
    font-size: 16px;
    font-weight: 500; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    width: 8em;
    top:14px !important;
    text-align: right;
    padding-left: 20px;
}

.col{
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
   
    text-align: center;
}
#ioncol {
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
   
    text-align: center;
}
#alpha {
    text-align: center;
}

.number {
    vertical-align: -20px;
    font-size: 30px;
}

#bigbutton {
    width: 50%;
    min-width: 50%;
}

#Beta {
    font-size: 25px;
    vertical-align: -15px;
    padding-left: 15px;
}

#link {
    font-size: 15px;
    height: 40px;
    padding-left: 15px;
}


.scroll-content {
  overflow: visible !important;
}


#converterLine1 {
    padding: 3px;
}

#converterButton {
    position: relative;
    background-color: #56A5EC;
    border: black;
    font-size: 24px;
    color: black;
    padding: 10px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#converterButton2 {
    position: relative;
    background-color: #BCC6CC;
    border: black;
    font-size: 24px;
    color: black;
    padding: 10px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#converterButton:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#converterButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}